body {
    padding: 0;margin: 0;box-sizing: border-box;width: 100%; height: 100vh;
    background: radial-gradient(grey 0%,black 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-home {
    width: 370px;
    height: auto;
    padding: 30px;
    border: 1px solid black;
    margin: 150px auto;
    border-radius: 20px;
    color: white;
    text-align: center;
    background: black;
}
button {
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 15px;
    background: linear-gradient(-120deg,#6932a8,#9b32a8);
}
@media (max-width:450px) {
    .section-home {
        width: 320px;
    }
}