body {
    padding: 0;margin: 0;box-sizing: border-box; font-family: sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
}
p {
    font-size: 15px;
    word-spacing: 3px;
}
.section-small {
    width: 30%;
    height: 100vh;
    padding: 10px 20px;
    background: #323e52;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: white;
}
.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url('../images/profile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.user-name {
    font-size: 1.2rem;
    color: white;
}
.section-large {
    width: 70%;
    height: 100vh;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.education-1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    /* border: 1px solid black; */
}
.education-1 > .timeline {
    text-align: center;
    padding: 30px 0px;
}
.education-title > h1 {
    margin: 0;
}
.education-2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    /* border: 1px solid black; */
}
.education-2 > .timeline {
    text-align: center;
    padding: 30px 0px;
}
.education-title > h1 {
    margin: 0;
}
.skills {
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
}
.skills-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.experience-1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    /* border: 1px solid black; */
}
.experience-1 > .timeline {
    text-align: center;
    padding: 30px 0px;
}
.experience-title > h1 {
    margin: 0;
}

.experience-2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    /* border: 1px solid black; */
}
.experience-2 > .timeline {
    text-align: center;
    padding: 30px 0px;
}
.experience-title > h1 {
    margin: 0;
}

.hobbies {
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
}

.hobbies-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.head > h1 {
    margin: 10px;
}